<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>即時新聞</title>
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <script src="~/Scripts/modernizr-2.6.2.js"></script>
        <style>
            .navbar {
              margin-bottom: 0;
              background-color: #f4511e;
              z-index: 9999;
              border: 0;
              font-size: 12px !important;
              line-height: 1.42857143 !important;
              letter-spacing: 4px;
              border-radius: 0;
            }

            .navbar li a, .navbar .navbar-brand {
              color: #fff !important;
            }

            .navbar-nav li a:hover, .navbar-nav li.active a {
              color: #f4511e !important;
              background-color: #fff !important;
            }

            .navbar-default .navbar-toggle {
              border-color: transparent;
              color: #fff !important;
            }
/*以下是第二部份的CSS設定*/
             .panel {
              border: 1px solid #f4511e; 
              border-radius:0;
              transition: box-shadow 0.5s;
            }

            .panel:hover {
              box-shadow: 5px 0px 40px rgba(0,0,0, .2);
            }

            .panel-footer .btn:hover {
              border: 1px solid #f4511e;
              background-color: #fff !important;
              color: #f4511e;
            }

            .panel-heading {
              color: #fff !important;
              background-color: #f4511e !important;
              padding: 25px;
              border-bottom: 1px solid transparent;
              border-top-left-radius: 0px;
              border-top-right-radius: 0px;
              border-bottom-left-radius: 0px;
              border-bottom-right-radius: 0px;
            }

            .panel-footer {
              background-color: #fff !important;
            }

            .panel-footer h3 {
              font-size: 32px;
            }

            .panel-footer h4 {
              color: #aaa;
              font-size: 14px;
            }

            .panel-footer .btn {
              margin: 15px 0;
              background-color: #f4511e;
              color: #fff;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">我的即時新聞</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#lasted">最新消息</a></li>
                        
                        <li><a href="#saved">新聞收藏</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer class="container-fluid text-center">
                <a href="#myPage" title="To Top">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </a>
                <p>Bootstrap Theme Made By <a href="https://www.w3schools.com" title="Visit w3schools">www.w3schools.com</a></p>
            </footer>
        </div>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        
    </body>
</html>